<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sungkyul.ac.kr.leeform">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission android:name="sungkyul.ac.kr.leeform.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="sungkyul.ac.kr.leeform.permission.C2D_MESSAGE" />


    <application
        android:name=".utils.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/leeform"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomNoActionBar">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".activity.member.LoginActivity"
            android:theme="@style/CustomNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.member.RegisterActivity"
            android:theme="@style/CustomNoActionBar" />
        <activity
            android:name=".activity.knowhow.KnowHowDetailActivity"
            android:theme="@style/CustomNoActionBar" />
        <activity
            android:name=".activity.knowhow.CreateKnowHowActivity"
            android:theme="@style/CustomNoActionBar" />
        <activity
            android:name=".activity.community.CommunityCreateActivity"
            android:theme="@style/CustomNoActionBar" />
        <activity
            android:name=".activity.community.CommunityDetailActivity"
            android:theme="@style/CustomNoActionBar" />
        <activity android:name=".activity.knowhow.CreateKnowHowExplainActivity" />
        <activity android:name=".activity.search.KnowHowSearchActivity" />
        <activity android:name=".activity.material.MaterialDetailActivity" />
        <activity android:name=".activity.search.MaterialSearchActivity" />
        <activity android:name=".activity.member.PurchaseListActivity" />
        <activity android:name=".activity.gcm.PopUpActivity"
            android:theme="@android:style/Theme.Translucent"
            />
        <activity
            android:name=".activity.settings.SettingActivity"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".activity.navigation.MyPageActivity"
            android:theme="@style/CustomNoActionBar"
            />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".activity.settings.NoticeActivity" />
        <activity android:name=".activity.member.RegistSellerActivity" />
        <activity android:name=".activity.intro.SplashActivity"></activity>
        <activity android:name=".activity.knowhow.WriteKnowHowActivity"></activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name=".service.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".service.RegistrationIntentService"
            android:exported="false"></service>

    </application>

</manifest>